@item-width: 130px;
@item-count: 3; // === ITEMS_COUNT from main.js
@item-visible-part: @item-width / 2;
@wrapper-width: @item-width * @item-count + @item-visible-part; 
@container-width: @wrapper-width + @wrapper-width * 20 / 100; // +20%
@carusel-trans-time: .5s; 
@carusel-trans-func: ease-in-out; 

@bg-color: #eee;
@brd-color: #ccc;

@arrow-dist: 5px;

.carusel__container {
  position: relative;
  width: @container-width;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 0;
  border: 1px solid @brd-color;
  border-radius: 15px;
  background-color: @bg-color;
}

.carusel__wrapper {
  width: @wrapper-width;
  position: relative;
  height: @item-width;
  overflow: hidden;
  margin: 0 auto;
}

.carusel__list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  transition: all @carusel-trans-time @carusel-trans-func;
}

.carusel__item {
  position: relative;
  width: @item-width;
  height: @item-width;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: all .2s ease-in;

    &:hover {
      top: -5px;
      cursor: pointer;
    }
  }
}

.carusel__arrow {
  position: absolute;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  top: 50%;
  transform: translateY(-50%);

  &:focus {
    outline: none;
  }

  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}

.carusel_arrow-left {
  left: @arrow-dist;
}

.carusel_arrow-right {
  right: @arrow-dist;
}
